/Lecture 9/programs
.DS_Store
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
ENV/
.venv/
env.bak/
venv.bak/
.ipynb_checkpoints
.vscode/
.idea/
*.swp
*.swo
*.bak
*.tmp
*.log
*.out
*.aux
*.toc
*.gz
*.zip
*.tar
*.rar
*.7z
*.egg
*.egg-info/
dist/
build/
.gitignore